.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
}

.header__navigation {
  display: flex;
  gap: 32px;
  font-family: "Bebas Neue";
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.header__navigation a {
  text-decoration: none;
  color: #1a1a1a;
  transition: opacity 0.2s ease;
}

.header__navigation a:hover {
  opacity: 0.5;
}

.header__line {
  width: 100%;
  display: block;
}
